<!-- [CODED BY CHRISTOFER & SIMON] Start  --> 


{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation-fullscreen.html" %}

      </div>
    </div>
  </div>

  <main class="main-content  mt-0">
    <section>
      <div class="container">
        <div class="row mt-8 text-center">

          <i class="fa fa-envira fa-7x mb-5" aria-hidden="true"></i>
          
        </div>      

        <div class="row text-center">
        <h3 class="font-weight-bolder text-info text-gradient mb-5">
          Early Blight, what is it?
        </h3>

        <p> 
          Early blight, caused by the fungal pathogen Alternaria solani, 
          is one of the most common tomato diseases. 
          It brings significant damage to tomato leaves, 
          stems, and fruits almost yearly in West Virginia. 
          Early blight can also affect potato foliage.
        </p>

        <h3 class="font-weight-bolder text-info text-gradient mb-5">
          Manage Early Blight
        </h3>

        </div>
        <div class="row text-left">
        <p> 
          <ul>
          <li>Use certified seeds from a reputable company or seeds that were kept from disease-free fruits.</li>
          <li>Use resistant varieties such as ‘Mountain Fresh Plus F1’, ‘Juliet F1’, ‘Tommy Toe’, ‘Old Brooks’, or ‘Cabernet F1’.</li>
          <li>Use mulch to prevent soil splash and stake the plant to keep it upright. 
              Because wooden stakes and caging from previous years may be contaminated, 
              do not use them unless they are treated with a 10% bleach solution for 30 minutes.</li>
          <li>Prune lower leaves and stems that are close to the soil surface.</li>
          <li>Grow tomatoes under a well-ventilated plastic tunnel that keeps foliage dry 
              and relative humidity low.</li>
          <li>Use drip tape instead of sprinkler irrigation.</li>
          <li>Keep or let foliage dry during or after a rain or morning fog to minimize 
              the level of infection.</li>
          <li>Space plants and orient rows to allow air to circulate and sunlight to penetrate.</li>
          <li>At the end of the season, remove all plant debris from the garden and burn or bury
              it by deep plowing.</li>
          </ul>
      

        </p>
        </div>

        <div class="row text-center">

        <h3 class="font-weight-bolder text-info text-gradient mb-5">
          Symptoms & Signs
        </h3>
        <p> Early blight is identified by the appearance of a few (5 to 10 in most cases) 
          circular brown spots on a leaf. The spots are up to a half-inch in diameter, 
          with concentric rings or ridges that form a target-like pattern surrounded by a yellow halo. 
          As the disease progresses, spots merge together and may kill the whole leaf. Over time, 
          the stem and fruit may also be infected, showing dark and sunken spots. 
          Cankers with a similar dark and sunken target-like appearance are often found at or above the 
          soil line on the stem.
        </p>
        <p> All information stated on this page are directly taken from 
          <a href="https://extension.wvu.edu/lawn-gardening-pests/plant-disease/fruit-vegetable-diseases/early-blight-of-tomatoes"> WVU Extension </a> (follow link for more information). </p>
  
          </p>
        </div>


        
 

      </div>
    </section>
  </main>

 {% include "includes/footer-fullscreen.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}


<!-- [CODED BY CHRISTOFER & SIMON] End  --> 