<!-- [CODED BY CHRISTOFER & SIMON] Start  -->



{% extends 'layouts/base-fullscreen.html' %} {% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">

            {% include "includes/navigation-fullscreen.html" %}

        </div>
    </div>
</div>

<main class="main-content  mt-0">
    <section>
        <div class="container">
            <div class="row mt-8 text-center">

                <i class="fa fa-envira fa-7x mb-5" aria-hidden="true"></i>

            </div>
            <!-- input plant info -->

            <h3 class="font-weight-bolder text-info text-gradient mb-5">
                Powdery Mildew, what is it?
            </h3>
            <p>
                <span style="font-weight:bold">Powdery mildew
              </span> of tomato has become an important disease problem worldwide in both field and greenhouse production since outbreaks of this disease were reported in Europe, North and South America, and Asia in the early 1990’s. The
                disease mainly affects leaves, causing yellowing, drying, necrosis, and defoliation. Losses in fruit production due to early plant senescence can reach up to 50% in commercial production regions where powdery mildew is severe. <br><br>
                <span style="font-weight:bold">Powdery mildew
                    </span> (Oidium neolycopersici, Erysiphe orontii, and Leveillula taurica) of tomato is caused by the fungus Oidium neolycopersici, an obligate parasite that obtains nutrients only from living plant tissues. It is an
                important disease problem worldwide. The host range of this fungus also includes several other solanaceous crops (pepper, eggplant, potato, and tobacco) and weeds (nightshade). The fungus survives as mycelium in living or dormant volunteer
                host plants. In the asexual stage, the fungus forms conidia in white mildew during a growing season. <br>These spores are easily dislodged from the infected leaves and carried long distances by wind and air currents. Spores land on leaf
                surfaces and germinate to start an infection cycle. The infection cycle may be repeated many times in a season. The sexual stage of the fungus has not been found.
            </p>
            <h3>
                Manage Powdery Mildew
            </h3>
            <p>

            </p>
            <h4>Resistant varieties: </h4>
            <p>
                Most tomato varieties are susceptible to powdery mildew. ‘Geronimo F1’, ‘Granadero F1’, ‘Massada F1’, and ‘Striped Stuffer’ have been listed as tomato varieties that are resistant to powdery mildew.
            </p>
            <h4>
                Cultural practices:
            </h4>
            <p>
                Select and plant healthy, pathogen-free transplants. Reduce fungal inoculum by destroying diseased plant debris at the end of the season. Improve air circulation by staking, pruning, and maintaining adequate spacing between plants. Avoid high rates of
                nitrogen fertilizer
            </p>
            <h4>
                Fungicide application:
            </h4>
            <p>
                Chemical control can be used as a supplement to the preventative practices described above. Since fungicides are used to prevent diseases, early application by scouting the disease and thorough coverage are critical for effective control. The fungicides
                registered for use in Connecticut are azoxystrobin, chlorothalonil, bicarbonates, cupric hydroxide, sulfur, and horticultural oils. To prevent the development of fungicide resistance, rotate fungicides that have different modes of action.
            </p>
            <h3>
                Symtomps & Signs?
            </h3>
            <p>
                Tomato plants may be infected at any growing stage whenever environmental conditions are favorable for disease development. Symptoms initially appear as light green and yellow blotches on leaves. Powdery fungal growth with dense sporulation may be found
                on the upper surface of the leaves. As the spots enlarge and the fungus grows, the chlorotic lesions turn purple with necrotic centers, and a whole leaf can be covered by white fungal growth. Under high humidity and cloudy conditions,
                white mildew may also be observed on the under-surfaces of leaves. Severe infections may result in twisted and deformed leaves. Petioles and stems may occasionally be infected, but the fruit remain uninfected. <br><br>                High humidity is favorable for the development of powdery mildew, but free water is not necessary for spore germination and infection. Disease development can occur in the presence or absence of dew. Excess nitrogen fertilization and high
                density stands may also be favorable for disease development.
            </p>
            <h3>
                Looking for more information?
            </h3>
            <p> All information stated on this page are directly taken from
                <a href="https://portal.ct.gov/-/media/CAES/DOCUMENTS/Publications/Fact_Sheets/Plant_Pathology_and_Ecology/POWDERYMILDEWOFTOMATO040113pdf.pdf"> The Connecticut Agricultural Experiment Station </a> (follow link for more information). </p>
            <br> Other sources to checkout on this topic:
            <ul>
                <li>
                    <a href="http://www.tomatodirt.com/powdery-mildew-on-tomatoes.html">
                Tomato dirt - Powdery Mildew
              </a>
                </li>
                <li>
                    <a href="https://blogs.cornell.edu/livegpath/gallery/tomato/powdery-mildew-on-tomatoes/">
                      Long Island Horticultural Research & Extension Center - Powdery Mildew
              </a>
                </li>
            </ul>
            </p>


        </div>
    </section>
</main>

{% include "includes/footer-fullscreen.html" %} {% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}


<!-- [CODED BY CHRISTOFER & SIMON] End  -->