<!-- [CODED BY CHRISTOFER & SIMON] Start  --> 



{% extends 'layouts/base-fullscreen.html' %}

{% block title %}
  Sign IN
{% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock %}

{% block content %}
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        {% include 'includes/navigation-fullscreen.html' %}
      </div>
    </div>
  </div>

  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-9 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-center bg-transparent">
                  <i class="fa fa-cogs fa-7x mb-5" aria-hidden="true"></i>
                  <h1 class="font-weight-bolder text-info text-gradient">Tomato Diagnostics</h1>
                  <h1 class="font-weight-bolder text-info text-gradient mb-5">Terms and Conditions of Use</h1>

                  <h3>1. Terms</h3>

                  <p class="mb-5">By accessing this Website, accessible from tomatodiagnostics.com, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

                  <h3>2. Use License</h3>

                  <p>Permission is granted to temporarily download one copy of the materials on Tomato Diagnostics's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

                  <ul class="text-start">
                    <li>modify or copy the materials;</li>
                    <li>use the materials for any commercial purpose or for any public display;</li>
                    <li>attempt to reverse engineer any software contained on Tomato Diagnostics's Website;</li>
                    <li>remove any copyright or other proprietary notations from the materials; or</li>
                    <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
                  </ul>

                  <p class="mb-5">This will let Tomato Diagnostics to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format.</p>

                  <h3>3. Disclaimer</h3>

                  <p class="mb-5">All the materials on Tomato Diagnostics’s Website are provided "as is". Tomato Diagnostics makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Tomato Diagnostics does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

                  <h3>4. Limitations</h3>

                  <p class="mb-5">Tomato Diagnostics or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on Tomato Diagnostics’s Website, even if Tomato Diagnostics or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

                  <h3>5. Revisions and Errata</h3>

                  <p class="mb-5">The materials appearing on Tomato Diagnostics’s Website may include technical, typographical, or photographic errors. Tomato Diagnostics will not promise that any of the materials in this Website are accurate, complete, or current. Tomato Diagnostics may change the materials contained on its Website at any time without notice. Tomato Diagnostics does not make any commitment to update the materials.</p>

                  <h3>6. Links</h3>

                  <p class="mb-5">Tomato Diagnostics has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by Tomato Diagnostics of the site. The use of any linked website is at the user’s own risk.</p>

                  <h3>7. Site Terms of Use Modifications</h3>

                  <p class="mb-5">Tomato Diagnostics may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

                  <h3>8. Your Privacy</h3>

                  <p class="mb-5">Please read our Privacy Policy.</p>

                  <h3>9. Governing Law</h3>

                  <p class="mb-5">Any claim related to Tomato Diagnostics's Website shall be governed by the laws of se without regards to its conflict of law p class="mb-5"rovisions.</p>

                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include 'includes/footer-info.html' %}
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock %}


<!-- [CODED BY CHRISTOFER & SIMON] End  --> 