<!-- [CODED BY CHRISTOFER & SIMON] Start  --> 




{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation-fullscreen.html" %}

      </div>
    </div>
  </div>

  <main class="main-content  mt-0">
    <section>
      <div class="container">
        <div class="row mt-8 text-center">

          <i class="fa fa-envira fa-7x mb-5" aria-hidden="true"></i>
          
        </div>      
        <!-- input plant info -->

        <h1 class="font-weight-bolder text-info text-gradient mb-5">
          Two-Spotted Spider Mite
        </h1>

 

      </div>
    </section>
  </main>

 {% include "includes/footer-fullscreen.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}


<!-- [CODED BY CHRISTOFER & SIMON] End  --> 