<div class="container">
    <div class="container">
        <!-- [CODED BY CHRISTOFER & SIMON] End  -->
        <!-- [CODED BY SIMON] Start -->
        <div id="carousel-1" class="carousel slide d-none d-lg-block" data-bs-ride="false" style="width: 15vw; left: calc(50% - (15vw/2));">
            <div class="carousel-inner" style="border: none; border-radius: 0.5rem;box-shadow: 0px 10px 20px black;">
                <div class="carousel-item active">
                    <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/bact1.JPG" alt="picture">
                </div>
                <div class="carousel-item">
                    <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/bact2.JPG" alt="picture">
                </div>
                <div class="carousel-item">
                    <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/bact3.JPG" alt="picture">
                </div>

                <div class="carousel-item">
                    <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/bact4.JPG" alt="picture">
                </div>
                <div class="carousel-item">
                    <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/bact5.JPG" alt="picture">
                </div>
            </div>
            <div>
                <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
            <ol class="carousel-indicators">
                <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
            </ol>
        </div>
    

    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5">
        Bacterial spot, what is it?
    </h3>
    <p>
        Bacterial spot (Caused by Xanthomonas vesicatoria, Xanthomonas euvesicatoria, Xanthomonas gardneri, and Xanthomonas perforans) of tomato is a potentially devastating disease that, in severe cases, can lead to unmarketable fruit and even the death of a
        plant. Bacterial spot can occur wherever tomatoes are grown, but is found most frequently in warm, wet climates, as well as in greenhouses.
    </p>
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5">
        Manage Bacterial spots
    </h3>
    <p>
        A plant with bacterial spot cannot be cured. But there are several ways of mitigating the impact of the full plant. Remove symptomatic plants from the field or greenhouse to prevent the spread of bacteria to healthy plants. Burn, bury or hot compost the
        affected plants and <span style="font-weight:bold">DO NOT</span> eat symptomatic fruit. Although bacterial spot pathogens are not human pathogens, the fruit blemishes that they cause can provide entry points for human pathogens
        that could cause illness.
    </p>
    <h4>Prevent Bacterial spots in the future</h4>
    <p>
        Plant pathogen-free seed or transplants to prevent the introduction of bacterial spot pathogens on contaminated seed or seedlings. If a clean seed source is not available or you suspect that your seed is contaminated, soak seeds in water at 122°F (50°C)
        for 25 min. to kill the pathogens. To keep leaves dry and to prevent the spread of the pathogens, avoid overhead watering (e.g., with a wand or sprinkler) of established plants and instead use a drip-tape or soaker-hose. <br>Also
        to prevent spread, <span style="font-weight:bold">DO NOT</span> handle plants when they are wet (e.g., from dew) and routinely sterilize tools with either 10% bleach solution or (better) 70% alcohol (e.g., rubbing alcohol). <br><br>Where
        bacterial spot has been a recurring problem, consider using preventative applications of copper-based products registered for use on tomato, especially during warm, wet periods. Keep in mind however, that if used excessively or for prolonged
        periods, copper may no longer control the disease. Be sure to read and follow all label instructions of the product that you select to ensure that you use it in the safest and most effective manner possible. Burn, bury or hot compost tomato
        debris at the end of the season. Wait at least one year before planting tomatoes in a given location again, and remove and burn, bury or hot compost any volunteer tomatoes that come up in your garden.
    </p>
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5">
        Symtomps & Signs?
    </h3>
    <p>
        Bacterial spot can affect all above ground parts of a tomato plant. That is including the leaves, stems, and fruit. Bacterial spot appears on leaves as small (less than ⅛ inch / 25 mm), sometimes water-soaked (i.e., wet-looking) circular areas.
        <br> Spots may initially be yellow-green, but darken to brownish-red as they age. When the disease is severe, extensive leaf yellowing and leaf loss can also occur.<br><br> On <span style="font-weight: bold;">green fruit</span>, spots
        are typically small, raised and blister-like, and may have a yellowish halo. As fruit mature, the spots enlarge (reaching a maximum size of ¼ inch / 6,35 mm) and turn brown, scabby and rough. Mature spots may be raised, or sunken with
        raised edges. Bacterial spot symptoms can be easily confused with symptoms of another tomato disease called bacterial speck.<br><br> These bacterial pathogens can be introduced into a garden on contaminated seed and transplants, which
        may or may not show symptoms. The pathogens enter plants through natural openings (e.g., stomates), as well as through wounds. Disease development is favored by warm (75° to 86°F / 24° to 30°C), wet weather. Wind-driven rain can contribute
        to more severe disease as the pathogens are splashed and spread to healthy leaves and fruit. Bacterial spot pathogens can survive well in tomato debris, but they survive very poorly in soil when not associated with debris. For more information
        on this disease, see <a>University of Wisconsin Garden Facts XHT1244</a> and XHT1250.
    </p>
    <h3>
        Looking for more information?
    </h3>
    <p> All information stated on this page are directly taken from
        <a href="https://hort.extension.wisc.edu/articles/bacterial-spot-of-tomato/"> University of Wisconsin-Madison </a> (follow link for more information). </p>
    <br> Other sources to checkout on this topic:
    <ul>
        <li>
            <a href="https://www2.ipm.ucanr.edu/agriculture/tomato/Bacterial-spot/">
              University of California Agriculture & Natural Resources - Bacterial spot
            </a>
        </li>
        <li>
            <a href="https://extension.umn.edu/disease-management/bacterial-spot-tomato-and-pepper">
              University of Minnesota Extension - Bacterial spot
            </a>
        </li>
    </ul>
    </p>
</div>