<!-- [CODED BY CHRISTOFER & SIMON] Start  -->

<footer class="footer py-5">
    <div class="container">
        <div class="row">

            <div class="col-8 mx-auto text-center mt-1">

                <div>
                    <h5 class="d-inline-block p-2"> <a href="/terms"> Terms of Service </a> </h5>
                    <h5 class="d-inline-block p-2"> <a href="/contact">Contact </a></h5>
                    <h5 class="d-inline-block p-2"> <a href="/privacy">Privacy Policy </a></h5>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- [CODED BY CHRISTOFER & SIMON] End  -->