<!-- [CODED BY CHRISTOFER & SIMON] Start  -->


<footer class="footer py-5">

    {% include "includes/footer-info.html" %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto text-center mt-1">
                <p class="mb-0 text-secondary">
                    &copy; IsMyTomatoSick - Coded by Group 6.
                </p>
                <p> Powered by AddSeed </p>
            </div>
        </div>
    </div>
</footer>


<!-- [CODED BY CHRISTOFER & SIMON] End -->