<!-- [CODED BY CHRISTOFER] Start  --> 


<nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid pe-0"> 
  
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item">
            <a class="nav-link me-2" href="{% url 'home' %}">
              <i class="fa fa-home fa-2x opacity-6 me-1"></i>
            
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link me-2" href="{% url 'info' %}">
              <i class="fa fa-info-circle fa-2x opacity-6 me-1"></i>
            
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link me-2" href="{% url 'admin:index' %}">
              <i class="fa fa-sign-in fa-2x opacity-6 me-1"></i>
            
            </a>
          </li>
        </ul>
      </div>
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <label for="theme-switch" class="nav-link me-2">
            <i class="fa fa-sun cursor-pointer fa-2x opacity-6 mt-1" id="theme-indicator"></i>
            
          </label>
          <input type="checkbox" class="d-none" id="theme-switch"/>
        </li>
      </ul>

    </div>
  </nav>

  <style>
    .navbar-brand
    {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: auto;
      font-size: x-large;
    }
  </style>
  
  

<!-- [CODED BY CHRISTOFER] End  --> 
