<!-- [CODED BY SIMON] Start -->

<div class="container">
  
  <div id="carousel-1" class="carousel slide d-none d-lg-block" data-bs-ride="false" style="width: 15vw; left: calc(50% - (15vw/2));">
    <div class="carousel-inner" style="border: none; border-radius: 0.5rem;box-shadow: 0px 10px 20px black;">
      <div class="carousel-item active">
        <img class="w-100 d-block" src="{{ ASSETS_ROOT }}/img/septoria1.JPG" alt="picture" />
      </div>
      <div class="carousel-item">
        <img class="w-100 d-block" src="{{ ASSETS_ROOT }}/img/septoria2.JPG" alt="picture" />
      </div>
      <div class="carousel-item">
        <img class="w-100 d-block" src="{{ ASSETS_ROOT }}/img/septoria3.JPG" alt="picture" />
      </div>
      <div class="carousel-item">
        <img class="w-100 d-block" src="{{ ASSETS_ROOT }}/img/septoria4.JPG" alt="picture" />
      </div>
      <div class="carousel-item">
        <img class="w-100 d-block" src="{{ ASSETS_ROOT }}/img/septoria5.JPG" alt="picture" />
      </div>
    </div>
    <div>
      <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <ol class="carousel-indicators">
      <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
      <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
      <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
      <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
      <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
    </ol>
  </div>
  <!-- [CODED BY SIMON] End -->
  <!-- [CODED BY CHRISTOFER] Start -->
  <div class="row text-center">
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5">Septoria Leaf Spots, what is it?</h3>

    <p>Many tomato growers across West Virginia may notice a disease which starts as numerous tiny spots on lower leaves that enlarge over time. As they do, the leaf turns yellow and eventually dies. According to West Virginia University Extension Specialist in plant pathology Mahfuz Rahman, this is due to a common tomato disease called Septoria leaf spot (caused by Septoria lycopersici).

      Frequent rain, high humidity and dew on tomato leaves lead to rapid disease development. 
      Symptoms start on the lower leaves and then move upward. Septoria leaf spots appear as numerous brown spots 
      (approximately 1/16 to 1/8 inch in diameter) septoria leaf blight figure 2on the leaves with gray or tan centers 
      and dark brown margins. As the spots mature, dark brown pimple-like structures called pycnidia (fruiting bodies of the fungus) 
      appear inside the spots. These pycnidia can easily be seen with a hand lens. Septoria leaf spots generally do not affect stems or fruit, 
      but under high disease pressure spots may also appear on stems, calyxes and blossoms. Very rarely do they appear on fruit. Leaf loss due to severe disease may expose fruits to sunscald.</p>

    <h3 class="font-weight-bolder text-info text-gradient mb-5">Manage Septoria Leaf Spots</h3>
  </div>
  <div class="row text-left">
    <p>
      <ol>
        <li>Eliminate initial source of infection by removing infected plant debris and weeds, and use disease-free seeds.</li>

        <li>If complete removal of plant debris is not possible, destroy by deep plowing immediately after harvest and follow with a one-year rotation with non-solanaceous crop.</li>

        <li>Use a resistant variety. Tomato varieties with complete resistance to Septoria leaf spot are not available. However, the variety Iron Lady with tolerance to the disease is now available and a WV63 variety with similar tolerance will be available soon.</li>

        <li>Use plastic or other mulch near the base of plant to prevent splashing soil particles that may contain fungal spores associated with debris.</li>

        <li>Use drip irrigation or a soaker hose at the base of the plant instead of watering with a method that gets foliage wet.</li>

        <li>Facilitate quick foliage drying by providing optimum spacing and row orientation for good air movement and sunlight penetration. Water only early in the day. Staking or caging the plants to raise them off the ground should also help in quick drying.</li>

        <li>Remove lower infected leaves from the plant if detected early enough and bury or burn them immediately. Don’t add infected leaf or debris to the compost pile.</li>

        <li>Fungicidal sprays may still be required in a rainy and humid season. Organic growers may use fixed copper (Champ), Regalia, Serenade, or Actinovate on a weekly schedule throughout the growing season.</li>

        <li>Conventional growers may use chlorothalonil, azoxystrobin or mancozeb. Commercial growers may buy and use more effective fungicides such as Quadris Top, Revus Top, Catamaran or Tanos.</li>
      </ol>
    </p>
  </div>
  <div class="row text-center">
    <p>
      All information stated on this page are directly taken from
      <a href="https://extension.wvu.edu/lawn-gardening-pests/plant-disease/fruit-vegetable-diseases/septoria-leaf-spot">WVU Extension</a> (follow link for more information).
    </p>
  </div>
</div>

<!-- [CODED BY CHRISTOFER] End -->