<!-- [CODED BY SIMON] Start  --> 

<div class="container">
    
    <div id="carousel-1" class="carousel slide d-none d-lg-block" data-bs-ride="false" style="width: 15vw; left: calc(50% - (15vw/2));">
      <div class="carousel-inner" style="border: none; border-radius: 0.5rem;box-shadow: 0px 10px 20px black;">
          <div class="carousel-item active">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spot1.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spot2.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spot3.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spot4.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spot5.JPG" alt="picture">
          </div>
      </div>
      <div>
          <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>
      <ol class="carousel-indicators">
          <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
      </ol>
  </div>       
  <!-- [CODED BY SIMON] End --> 
  <!-- [CODED BY CHRISTOFER] Start  --> 
    <div class="row text-center">
      <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5">
        Target Spots, what is it?
      </h3>

      <p> 
        Target spot of tomato is caused by the fungal pathogen Corynespora cassiicola. 
        The disease occurs on field-grown tomatoes in tropical and subtropical regions of the world. 
        Target spot was first observed on tomatoes in the U.S. in Immokalee, Florida in 1967. 
        The disease distribution in the U.S. is limited to the southeastern region, most predominantly in the southern parts of Florida. 
        However, the disease also occurs on tomatoes grown in greenhouse and high tunnel production systems in other areas of North America.
      </p>

      <h3 class="font-weight-bolder text-info text-gradient mb-5">
        Manage Target Spots
      </h3>

      </div>
      <div class="row">
      <p> 
        Cultural practices for target spot management include improving airflow through the canopy by wider plant spacing and avoiding over-fertilizing with nitrogen, 
        which can cause overly lush canopy formation. Pruning suckers and older leaves in the lower canopy can also increase airflow and reduce leaf wetness. 
        Avoid planting tomatoes near old plantings. Inspect seedlings for target spot symptoms before transplanting. 
        Manage weeds, which may serve as alternate hosts, and avoid the use of overhead irrigation. Destroy crop residues shortly after the final harvest, 
        and rotate away from tomato and other known hosts for at least three years. Resistance to target spot is not available in commercial tomato varieties, 
        although partial resistance has been observed in wild species of tomato.

        The primary strategy used to manage target spot on tomato is the regular application of fungicides. 
        Applications should begin before symptoms appear when conditions are favorable for infection and disease development. 
        Fungicides may need to be applied at regular intervals (every 10 to 14 days is common) depending on the label directions of the products used. 
        Full coverage of all plant surfaces is needed for the best control of target spot.

        Many fungicides are registered to control of target spot on tomatoes. Growers should consult regional disease management guides for recommended products. 
        Products containing chlorothalonil, mancozeb, and copper oxychloride have been shown to provide good control of target spot in research trials. 
        The strobilurin fungicides azoxystrobin and pyraclostrobin, the fungicide boscalid, and the systemic acquired resistance (SAR) elicitor acibenzolar-S-methyl 
        have also been shown to provide good control of target spot.
    

      </p>
      </div>
      <div class="row text-center">

        <h3 class="font-weight-bolder text-info text-gradient mb-5">
          Symptoms & Signs
        </h3>
        <p> 
          The target spot fungus can infect all above-ground parts of the tomato plant. 
          Plants are most susceptible as seedlings and just before and during fruiting. The initial foliar symptoms are pinpoint-sized, 
          water-soaked spots on the upper leaf surface. The spots develop into small, necrotic lesions that have light brown centers and dark margins. 
          These symptoms may be confused with symptoms of bacterial spot. The lesions increase in size, become circular with gray to pale brown centers. 
          As the lesions enlarge, they can develop darker concentric circles, hence, the name target spot. 
          The concentric circles are similar to those seen on early blight lesions. Yellow halos can form around the lesions on some varieties. 
          Lesions can coalesce, forming large blighted areas on the leaflets, and infected leaves may drop prematurely. 
          Target spot infections typically start on the older, lower leaves in the inner canopy. Thus, the initial symptoms may not be noticed by the grower, 
          making early detection difficult. The disease progresses upward, causing defoliation of the inner canopy, a condition known as “melting-out”.
        </p>
        <p> All information stated on this page are directly taken from 
          <a href="https://www.vegetables.bayer.com/ca/en-ca/resources/agronomic-spotlights/target-spot-of-tomato.html"> Vegetables Canada </a> (follow link for more information). </p>
  
        </p>
        </div>

  </div>

   <!-- [CODED BY CHRISTOFER] End  --> 