
<!-- [CODED BY SIMON] Start  --> 

<div class="container">
    <div id="carousel-1" class="carousel slide d-none d-lg-block" data-bs-ride="false" style="width: 15vw; left: calc(50% - (15vw/2));">
      <div class="carousel-inner" style="border: none; border-radius: 0.5rem;box-shadow: 0px 10px 20px black;">
          <div class="carousel-item active">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/mosaic1.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/mosaic2.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/mosaic3.JPG" alt="picture">
          </div>

          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/mosaic4.JPG" alt="picture">
          </div>
          <div class="carousel-item">
              <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/mosaic5.JPG" alt="picture">
          </div>
      </div>
      <div>
          <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
          </a>
      </div>
      <ol class="carousel-indicators">
          <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
          <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
      </ol>
  </div>

  <!-- [CODED BY CHRISTOFER & SIMON] End --> 
  <!-- [CODED BY CHRISTOFER] Start  --> 

    <div class="row text-center">
      <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5">
        Mosaic Virus, what is it?
      </h3>

      <p> 
        Mosaic viruses affect more than 150 types of plants, including many fruits, vegetables, and flowers. 
        The disease is characterized by leaves that are mottled with yellow, white, and light or dark green spots and streaks 
        (in other words, a “mosaic” of these colors). Some of the most commonly infected plants include tomatoes, squashes, cauliflower, and cucumbers, but many more plants are susceptible.
      </p>

      <h3 class="font-weight-bolder text-info text-gradient mb-5">
        Manage Mosaic Virus
      </h3>

      </div>
      <div class="row text-left">

        
      <p> 
        Once plants are infected, there is no cure for mosaic viruses. Because of this, prevention is key! However, if plants in your garden do show symptoms of having mosaic viruses, here's how to minimize the damage:

        <ul> 
          <li> Remove all infected plants and destroy them. Do NOT put them in the compost pile, as the virus may persist in infected plant matter. 
            Burn infected plants or throw them out with the garbage. </li>
          <li> Monitor the rest of your plants closely, especially those that were located near infected plants.</li>
          <li> Plants may have other deformities and their leaves may be crinkled or wavy.</li>
          <li> Disinfect gardening tools after every use. Keep a bottle of a weak bleach solution or other antiviral disinfectant to wipe your tools down with.</li>
        </ul>

        (Prevention methods can be found in the link below)

      </p> 
      </div>
      <div class="row text-center">

        <h3 class="font-weight-bolder text-info text-gradient mb-5">
          Symptoms & Signs
        </h3>
        <p> 
          Viral diseases are difficult to identify because symptoms vary from plant to plant and may also vary depending on the age of the plant and its growing conditions. 
          However, the most common ways of identifying mosaic viruses are listed below.

          <ul> 
            <li> The leaves are mottled with yellow, white, and light and dark green spots, which appear to be elevated. This gives the leaves a blister-like appearance. </li>
            <li> Plants are often stunted, or they grow poorly.</li>
            <li> Plants may have other deformities and their leaves may be crinkled or wavy.</li>
            <li> Tomatoes are small and misshapen.</li>
          </ul>

        </p>
        <p> All information stated on this page are directly taken from 
          <a href="https://www.almanac.com/pest/mosaic-viruses"> Almanac </a> (follow link for more information). </p>
  
          </p>
        </div>
  </div>
   <!-- [CODED BY CHRISTOFER] End  --> 