
<div class="container">
    <!-- Only display images on screens larger than 992px (lg) -->
    <div id="carousel-1" class="carousel slide d-none d-lg-block" data-bs-ride="false" style="width: 15vw; left: calc(50% - (15vw/2));">
        <div class="carousel-inner" style="border: none; border-radius: 0.5rem;box-shadow: 0px 10px 20px black;">
            <div class="carousel-item active">
                <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spider_1.jpg" alt="picture">
            </div>
            <div class="carousel-item">
                <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spider_2.jpg" alt="picture">
            </div>
            <div class="carousel-item">
                <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spider_3.jpg" alt="picture">
            </div>

            <div class="carousel-item">
                <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spider_4.jpg" alt="picture">
            </div>
            <div class="carousel-item">
                <img class="w-100 d-block" src="{{ASSETS_ROOT}}/img/spider_5.jpg" alt="picture">
            </div>
        </div>
        <div>
            <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <ol class="carousel-indicators">
            <li class="active" data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
        </ol>
    </div>
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-5" style="z-index:4">
        Two-spotted Spider Mite, what is it?
    </h3>
    <p>
        <span style="font-weight:bold">Two-spotted Spider Mite
      </span> is the most common mite species that attacks vegetable and fruit crops in New England among other locations around the globe. Spider mites can occur in tomato, eggplant, potato, vine crops such as melons, cucumbers,
        and other crops. Two-spotted spider mites are one of the most important pests of eggplant.<br><br>
        <span style="font-weight:bold">Two-spotted Spider Mite
            </span> (Tetranychus Urticae) have up to 20 generations per year and are favored by excess nitrogen and dry and dusty conditions. Outbreaks are often caused by the use of broad-spectrum insecticides which interfere
        with the numerous natural enemies that help to manage mite populations. As with most pests, catching the problem early will mean easier control. Eggs are laid singly, up to 100 per female, during her 3- to 4-week life span. Eggs hatch
        into larvae in as few as 3 days. Following a brief larval stage, several nymphal stages occur before adults appear. Egg to adult cycle can be completed in 7-14 days depending on temperature
    </p>
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-3">
        Manage Two-spotted Spider Mite
    </h3>
    <p>
        Watch for spider mites in greenhouses where vegetable transplants are growing. Also scout eggplants in the field. Checking for mites must be done by examining foliage. Adult mites are not found on sticky cards. Mites often develop as localized infestations
        on particular groups of plants such as beans or tomatoes. Sample plants by turning over leaves and with a hands-free magnifier (Optivisor) or hand lens, check for the presence of spider mites as well as symptoms or webbing.<br><br>                Adult females are approximately 1/50-inch long (0,5 mm), slightly orange or pale green in color with two dark spots on their body. All mobile stages are able to pierce plant tissue with their mouth-parts and remove plant fluids. Saliva
        injected during feeding may also cause discoloration, necrosis or abnormalities on leaves, stems and fruits. Most spider mites are found on the underside of leaves. A 10X hand lens is key for identifying the mite species, but injury, webbing,
        and the tiny adults can be seen with the naked eye.
    </p>
    <h5>Important to keep in mind</h5>
    <ul style="list-style: none">
        <li>
            <p>Avoid weedy fields and do not plant eggplant adjacent to legume forage crops.</p>
        </li>
        <li>
            <p>Avoid early season, broad-spectrum insecticide applications for other pests.</p>
        </li>
        <li>
            <p>Do not over-fertilize. Outbreaks may be worsened by excess nitrogen fertilization.</p>
        </li>
        <li>
            <p>Overhead irrigation or prolonged periods of rain can help reduce populations.</p>
        </li>
    </ul>
    <h4>Controls</h4>
    <p style="font-weight: bolder">
        For control, use selective products whenever possible. Selective products which have worked well in the field include:
    </p>
    <ul style="list-style: none">
        <li>
            <p>Bifenazate (Acramite): Group UN, a long residual nerve poison</p>
        </li>
        <li>
            <p>Abamectin (Agri-Mek): Group 6, derived from a soil bacterium</p>
        </li>
        <li>
            <p>Spirotetramat (Movento): Group 23, mainly affects immature stages</p>
        </li>
        <li>
            <p>Spiromesifen (Oberon 2SC): Group 23, mainly affects immature stages</p>
        </li>
    </ul>
    <p style="font-weight: bolder">OMRI-listed products include:</p>
    <ul style="list-style: none">
        <li>
            <p>Insecticidal soap (M-Pede)</p>
        </li>
        <li>
            <p>Neem oil (Trilogy)</p>
        </li>
        <li>
            <p>Soybean oil (Golden Pest Spray Oil)</p>
        </li>
    </ul>
    <p class="mt-3">
        Natural enemies of mites are present in and around fields and can keep mite populations low. Many insecticides used for control of insect pests severely reduce numbers of beneficial insects that keep mite populations in check. Therefore, apply insecticides
        only as‑needed, rather than at regularly scheduled intervals. When possible, select pesticides which will have the least impact on beneficial insects.
    </p>
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-6">
        Symtomps & Signs?
    </h3>
    <p>
        In the field, spider mites are favored by hot, dry, and dusty conditions, which also aggravates injury by stressing the plant. Damage is often underestimated since the wounds and the pest are not apparent to our eyes without close inspection. Leaves become
        blotched with pale yellow, reddish brown spots ranging from small to large areas on both upper and lower leaf surfaces. Other symptoms caused by either severe or constant attack include distorted leaves, overall loss of plant vigor (in
        spite of adequate moisture and nutrition), whitening or spotting of leaves, yellowing of the plant or some of the leaves, and in some cases loss of foliage and death.
    </p>
    <h3 class="font-weight-bolder text-info text-gradient mb-5 mt-3">
        Looking for more information?
    </h3>
    <p> All information stated on this page are directly taken from
        <a href="https://ag.umass.edu/vegetable/fact-sheets/two-spotted-spider-mite"> University of Massachusetts Amherst - Two Spotted spider mite </a> (follow link for more information). </p>
    <br> Other sources to checkout on this topic <span style="font-weight: bolder">(external links)</span>:
    <ul>
        <li style="list-style: none">
            <a href="https://entomology.ca.uky.edu/ef310">
            University of Kentucky College of Agriculture - Two-Spotted Spider Mite
      </a>
        </li>
        <li style="list-style: none">
            <a href="https://blogs.cornell.edu/livegpath/gallery/tomato/powdery-mildew-on-tomatoes/">
            University of Flodria  - Two-Spotted Spider Mite
      </a>
        </li>
    </ul>
    </p>
</div>
</div>